<% provide(:title, 'Склад') %>
<div class="add_option"><%= link_to "Добавить оборудование", new_equipment_path, 
								class: "btn btn-large btn-primary" %></div>

 <%= will_paginate @equipments %>
<div class="equipment_table_up">

<div class="equipment_photo">Фото</div>
<div class="equipment_name">Наименование</div>
<div class="equipment_description">Описание</div>
<div class="equipment_val">Стоимость</div>
<div class="equipment_count">Количество</div>
</div>
<%= render @equipments %>
<div class="bottom_pagination_equipments">
<%= will_paginate @equipments %>
</div>