<center><h2>Исходящие заявки</h2></center>
<div class="outbox_table_up">

<div class="outbox_theme_up">Исходящая</div>
<div class="outbox_inbox_id_up">Входящая</div>
<div class="outbox_partner_up">Контрагент</div>
<div class="outbox_equipment_up">Оборудование</div>
<div class="outbox_user_up">Автор</div>
<div class="outbox_created_at_up">Создано</div>
<div class="outbox_letter_up">Письмо</div>
<div class="delete_outbox"_up></div>
</div>
<%= render @outboxes %>
<div class="bottom_pagination_outboxes">

</div>