<footer class="footer">
<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
  <div class="container">

  <nav>
    <ul>
		<li><%= link_to "Справка", help_path %></li>
		<li><%= link_to "О программе",   about_path %></li>
		<li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>

</div>
</div>
</div>
</footer>