<% provide(:title, 'Входящие') %>
    <%= link_to "Добавить заявку", new_inbox_path,
                                class: "btn btn-large btn-primary" %>
 <%= will_paginate @inboxes %>
<div class="inbox_table_up">

<div class="inbox_theme_up">Входящая заявка</div>
<div class="inbox_partner_up">Контрагент</div>
<div class="inbox_equipment_up">Оборудование</div>
<div class="inbox_letter_up">Письмо</div>
<div class="inbox_user_up">Автор</div>
<div class="inbox_created_at_up">Создано</div>
<div class="delete_inbox_up"></div>
</div>
<%= render @inboxes %>
<div class="bottom_pagination_inboxes">
<%= will_paginate @inboxes %>
</div>